<% provide(:title, 'About') %>
<h1>About us</h1>

<p>
It is really important that you log all the information about the livestock that you have in your tank so that you can provide the best care for them.
Livestock from all over the world have to co-exist in your aquarium, and you have to make sure that you can support all of them.
</p>
<p> Research is vital, and if you add a species to your tank without knowing anything about it, chances are it will die.  
If you could fill out a bio for the species that you are about to buy, then you will have a better understanding and a better chances for keeping the creature healthy.  This will be my online log, and I will be adding more data to the website soon.  </p>

<p>If you would like to get in contact, you can reach me on emile.swarts123 at gmail.com</p>

<p>
You can find me on:<br />
		<a href='http://twitter.com/emileswarts' target='blank'>Twitter</a><br />
		<a href='http://github.com/emileswarts' target='blank'>Github</a><br />
</p>


