<% provide(:title, 'Home') %>

<div class="center hero-unit">
		<div id='hero-content'>
		<h1>Myreef</h1><br />
		<h2>Keep track of your creatures</h2><br />

		<%= link_to "Signup to myreef.tv", signup_path, :class => 'btn btn-large btn-primary' %>
		</div>
</div>
<h1>Keep track of your reef</h1>
