<% provide(:title, 'Home') %>

<div class="center hero-unit">
		<div id='hero-content'>
		<h1>Myreef</h1><br />
		<h2>Keep track of your creatures</h2><br />

		<%= link_to "Signup to myreef.tv", signup_path, :class => 'btn btn-large btn-primary' %>
		</div>
</div>
<h1>Keep track of your reef</h1>
<h2>
		As you add new creatures to your reef aquarium, you can add them here which will serve as a way to track details about them that is usually forgotten. 
		You can tag creatures with data, which will be used to help others in the future.
</h2>
<h3>Latest creatures</h3>
<% @creatures.each do |creature| %>
		<%= image_tag creature.photo.url(:thumb)  %>
<% end %>
