<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
		<h1>
			<%= gravatar_for @user, 100 %>
			<%= @user.name %>
		</h1>
		<%= @user.email %>
		</section>
	</aside>
	<% if @fishtank_count == 0 %>
		You have no fishtanks! 
		<%= link_to "Add one", new_fishtank_path(current_user) %>
	<% end %>
</div>
