<%= provide(:title, "Test") %>

<h1>Gallery</h1>

<%= will_paginate %>
<ul class='gallery'>
	<% @galleries.each do |gallery| %>
		<%= image_tag gallery.photo.url(:thumb), :alt => gallery.title, :class => "list_image" %>
	<% end %>
</ul>

<%= will_paginate %>
