@import "bootstrap";

$greyMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;

}
.navbar-inverse {
		.navbar-inner {
				background-color: #1B1B1B;
				background-image: linear-gradient(to bottom, #222222, #111111);
				background-repeat: repeat-x;
				border-color: #252525;

	}
}
/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;

}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;

		}

	}

}

.hero-unit {
	background: url('new_header.jpg');
	height: 250px;
}

#hero-content {
		float: right;
		color: #ffffff;
}

#tag_cloud {
   width: 220px !important; 
   line-height: 1.8em !important;
	 float:right !important;
	 clear:both;
	 .s { font-size: 0.4em !important; }
	 .m { font-size: 0.8em !important; }
	 .l { font-size: 1.0em !important; }
}
.creature_image {
		padding: 5px;
}
ul.events {
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 0;
}

ul.events li {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	background: #eee;
	border: 1px solid #ddd;
	color: #707070;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 3px 0;
	position: relative;
	text-align: center;
}

ul.events li em {
	color: #aaa;
	font-weight: normal;
	font-size: 0.9em;
}

ul.intervals {
	list-style-type: none;
	padding: 0;
	display: block;
}

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
ul.intervals li {
	background: #fff url(/images/1x1_eee.gif) repeat-x left 10%;
	border-right: 1px solid #ccc;
	color: #999;
	float: left;
	font-size: 1.2em;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	width: 14.17%;
}

ul.intervals li.first {
	border-left: 1px solid #ccc;
}
