// Place all the styles related to the FishTank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fishtank_creature_list ul li{
	list-style-type: none;
	padding: 5px;
	float: left;

}
